#Autosave files
*~

# Build/test output
obj
bin
test-results

# VS sometimes writes these for no apparent reason
_UpgradeReport_Files
UpgradeLog.*

# Per-user data
*.DS_Store
*.sln.cache
*.suo
*.userprefs
*.usertasks
*.user

# ReSharper
*_Resharper.*
*.Resharper

# dotCover
*.dotCover

*.dll
*.xml
*.nupkg
MovieList/packages/SQLiteNetExtensions.1.3.0/lib/portable-net45+netcore45+wpa81+wp8+MonoAndroid1+MonoTouch1/SQLiteNetExtensions.dll.mdb
MovieList/packages/SQLiteNetExtensions.1.3.0/src/Attributes/CascadeOperation.cs
MovieList/packages/SQLiteNetExtensions.1.3.0/src/Attributes/ForeignKeyAttribute.cs
MovieList/packages/SQLiteNetExtensions.1.3.0/src/Attributes/ManyToManyAttribute.cs
MovieList/packages/SQLiteNetExtensions.1.3.0/src/Attributes/ManyToOneAttribute.cs
MovieList/packages/SQLiteNetExtensions.1.3.0/src/Attributes/OneToManyAttribute.cs
MovieList/packages/SQLiteNetExtensions.1.3.0/src/Attributes/OneToOneAttribute.cs
MovieList/packages/SQLiteNetExtensions.1.3.0/src/Attributes/RelationshipAttribute.cs
MovieList/packages/SQLiteNetExtensions.1.3.0/src/Attributes/TextBlobAttribute.cs
MovieList/packages/SQLiteNetExtensions.1.3.0/src/Exceptions/IncorrectRelationshipException.cs
MovieList/packages/SQLiteNetExtensions.1.3.0/src/Extensions/ReadOperations.cs
MovieList/packages/SQLiteNetExtensions.1.3.0/src/Extensions/ReflectionExtensions.cs
MovieList/packages/SQLiteNetExtensions.1.3.0/src/Extensions/WriteOperations.cs
MovieList/packages/SQLiteNetExtensions.1.3.0/src/Extensions/TextBlob/ITextBlobSerializer.cs
MovieList/packages/SQLiteNetExtensions.1.3.0/src/Extensions/TextBlob/TextBlobOperations.cs
MovieList/packages/SQLiteNetExtensions.1.3.0/src/Extensions/TextBlob/Serializers/JsonBlobSerializer.cs
MovieList/packages/SQLiteNetExtensions.1.3.0/src/Properties/AssemblyInfo.cs
